Repository mitre/heimdall2, pull requests merged in 2020-11, with the labels that each got.

#495 Small fix to display the correct sub-part of the failure message in the test results
  apps/frontend/src/components/cards/controltable/ControlRowCol.vue
  apps/frontend/tests/unit/ControlRowCol.spec.ts
Labels: bug, frontend

#467 Fix showing "None" on some ControlRows
  apps/frontend/src/components/cards/controltable/ControlRowHeader.vue
  apps/frontend/src/components/cards/controltable/ControlTable.vue
  apps/frontend/src/components/generic/CircleRating.vue
  apps/frontend/src/views/Results.vue
Labels: enhancement, frontend

#500 Add Incorrect Password Message to User Profile
  apps/backend/src/users/users.service.ts
  apps/frontend/src/components/global/UserModal.vue
  apps/frontend/src/mixins/UserValidatorMixin.ts
  apps/frontend/src/views/Login.vue
Labels: backend, bug, enhancement, frontend

#468 Add Update Notifications
  apps/backend/src/main.ts
  apps/frontend/src/components/global/UpdateNotification.vue
  apps/frontend/src/components/global/upload_tabs/HelpFooter.vue
  apps/frontend/src/mixins/AppInfoMixin.ts
  apps/frontend/src/router.ts
  apps/frontend/src/store/app_info.ts
  apps/frontend/src/store/store.ts
  apps/frontend/src/views/BaseView.vue
Labels: enhancement

#556 Add Admin Panel
  apps/backend/seeders/20200514154327-create-administrator.js
  apps/backend/src/authz/authz.service.ts
  apps/backend/src/guards/abac.guard.ts
  apps/backend/src/interceptors/is-admin.interceptor.ts
  apps/backend/src/pipes/password-change.pipe.spec.ts
  apps/backend/src/pipes/password-change.pipe.ts
  apps/backend/src/pipes/password-complexity.pipe.ts
  apps/backend/src/users/dto/delete-user.dto.ts
  apps/backend/src/users/dto/update-user.dto.ts
  apps/backend/src/users/users.controller.spec.ts
  apps/backend/src/users/users.controller.ts
  apps/backend/src/users/users.service.spec.ts
  apps/backend/src/users/users.service.ts
  apps/backend/test/authn.e2e-spec.ts
  apps/backend/test/constants/users-test.constant.ts
  apps/backend/test/evaluations.e2e-spec.ts
  apps/backend/test/helpers/users.helper.ts
  apps/backend/test/users.e2e-spec.ts
  apps/frontend/src/components/generic/LogoutButton.vue
  apps/frontend/src/components/generic/UploadButton.vue
  apps/frontend/src/components/global/Sidebar.vue
  apps/frontend/src/components/global/Topbar.vue
  apps/frontend/src/components/global/TopbarDropdown.vue
  apps/frontend/src/components/global/UserModal.vue
  apps/frontend/src/components/global/admin/UserManagement.vue
  apps/frontend/src/components/global/upload_tabs/HelpFooter.vue
  apps/frontend/src/router.ts
  apps/frontend/src/store/app_info.ts
  apps/frontend/src/store/server.ts
  apps/frontend/src/store/sidebar_state.ts
  apps/frontend/src/store/snackbar.ts
  apps/frontend/src/store/store.ts
  apps/frontend/src/views/Admin.vue
  apps/frontend/src/views/BaseView.vue
  apps/frontend/src/views/Compare.vue
  apps/frontend/src/views/Results.vue
  apps/frontend/src/views/Signup.vue
  apps/frontend/tests/unit/LogoutButton.spec.ts
  apps/frontend/tests/unit/Results.spec.ts
  apps/frontend/tests/unit/UploadButton.spec.ts
  libs/interfaces/user/delete-user.interface.ts
  libs/interfaces/user/update-user.interface.ts
Labels: enhancement
