Repository mitre/heimdall2, pull requests merged in 2022-07, with the labels that each got.

#3252 Using enums for fingerprinting
  apps/frontend/src/store/report_intake.ts
  libs/hdf-converters/src/utils/fingerprinting.ts
Labels: ready-to-merge

#3226 Multi os pack script
  libs/hdf-converters/package.json
  libs/hdf-converters/prepack.js
  yarn.lock
Labels: ready-to-merge

#3232 Reformatted Twistlock & Jfrog to include new passthrough format
  libs/hdf-converters/sample_jsons/jfrog_xray_mapper/jfrog-hdf.json
  libs/hdf-converters/sample_jsons/twistlock_mapper/twistlock-twistcli-sample-1-hdf.json
  libs/hdf-converters/src/jfrog-xray-mapper.ts
  libs/hdf-converters/src/twistlock-mapper.ts
Labels: ready-to-merge, hdf-converters

#3203 Updating Zap mapper formatting
  libs/hdf-converters/sample_jsons/zap_mapper/zap-webappsecurity-hdf.json
  libs/hdf-converters/sample_jsons/zap_mapper/zap-webgoat-hdf.json
  libs/hdf-converters/src/zap-mapper.ts
Labels: ready-to-merge, hdf-converters

#3200 Updating Sarif mapper formatting
  libs/hdf-converters/sample_jsons/sarif_mapper/sarif-hdf.json
  libs/hdf-converters/src/sarif-mapper.ts
Labels: ready-to-merge, hdf-converters

#3244 Updating Nikto & Burp Suite & Scout Suite mappers
  libs/hdf-converters/sample_jsons/burpsuite_mapper/burpsuite-hdf.json
  libs/hdf-converters/sample_jsons/nikto_mapper/nikto-hdf.json
  libs/hdf-converters/sample_jsons/scoutsuite_mapper/scoutsuite-hdf.json
  libs/hdf-converters/src/burpsuite-mapper.ts
  libs/hdf-converters/src/nikto-mapper.ts
  libs/hdf-converters/src/scoutsuite-mapper.ts
Labels: ready-to-merge, hdf-converters

#3302 Updated hdf-converters README to list veracode as a supported format
  libs/hdf-converters/README.md
Labels: ready-to-merge

#3328 Use basetag instead of the full nist tag.
  libs/hdf-converters/src/utils/global.ts
  libs/hdf-converters/test/mappers/forward/asff_mapper.spec.ts
Labels: bug, ready-to-merge

#3342 Add help button for S3
  apps/frontend/src/components/global/upload_tabs/aws/AuthStepBasic.vue
  apps/frontend/src/components/global/upload_tabs/aws/S3Reader.vue
Labels: ready-to-merge

#3329 Updating mapper tests for withraw flag
  libs/hdf-converters/sample_jsons/burpsuite_mapper/burpsuite-hdf-withraw.json
  libs/hdf-converters/sample_jsons/jfrog_xray_mapper/jfrog-hdf-withraw.json
  libs/hdf-converters/sample_jsons/nessus_mapper/nessus-hdf-10.0.0.1-withraw.json
  libs/hdf-converters/sample_jsons/nessus_mapper/nessus-hdf-10.0.0.2-withraw.json
  libs/hdf-converters/sample_jsons/nessus_mapper/nessus-hdf-10.0.0.3-withraw.json
  libs/hdf-converters/sample_jsons/nikto_mapper/nikto-hdf-withraw.json
  libs/hdf-converters/sample_jsons/sarif_mapper/sarif-hdf-withraw.json
  libs/hdf-converters/sample_jsons/scoutsuite_mapper/scoutsuite-hdf-withraw.json
  libs/hdf-converters/sample_jsons/twistlock_mapper/twistlock-hdf-withraw.json
  libs/hdf-converters/sample_jsons/twistlock_mapper/twistlock-hdf.json
  libs/hdf-converters/sample_jsons/zap_mapper/zap-webappsecurity-hdf-withraw.json
  libs/hdf-converters/sample_jsons/zap_mapper/zap-webgoat-hdf-withraw.json
  libs/hdf-converters/test/mappers/forward/burpsuite_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/jfrog_xray_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/nessus_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/nikto_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/sarif_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/scoutsuite_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/twistlock_mapper.spec.ts
  libs/hdf-converters/test/mappers/forward/zap_mapper.spec.ts
Labels: ready-to-merge, hdf-converters
