Repository mitre/heimdall2, pull requests merged in 2023-06, with the labels that each got.

#4601 Update DBProtect mapper
  libs/hdf-converters/sample_jsons/dbprotect_mapper/dbprotect-check-hdf-withraw.json
  libs/hdf-converters/sample_jsons/dbprotect_mapper/dbprotect-check-hdf.json
  libs/hdf-converters/sample_jsons/dbprotect_mapper/dbprotect-findings-hdf-withraw.json
  libs/hdf-converters/sample_jsons/dbprotect_mapper/dbprotect-findings-hdf.json
  libs/hdf-converters/sample_jsons/dbprotect_mapper/sample_input_report/DbProtect-Check-Results-Details-XML-Sample.xml
  libs/hdf-converters/sample_jsons/dbprotect_mapper/sample_input_report/DbProtect-Findings-Detail-XML-Sample.xml
  libs/hdf-converters/src/dbprotect-mapper.ts
  libs/hdf-converters/test/mappers/forward/dbprotect_mapper.spec.ts
Labels: enhancement, hdf-converters

#4549 Remove Splunk SDK usage
  apps/frontend/package.json
  apps/frontend/src/components/cards/treemap/Treemap.vue
  apps/frontend/src/components/global/ExportSplunkModal.vue
  apps/frontend/src/components/global/UploadNexus.vue
  apps/frontend/src/components/global/upload_tabs/aws/AuthStepBasic.vue
  apps/frontend/src/components/global/upload_tabs/aws/AuthStepMFA.vue
  apps/frontend/src/components/global/upload_tabs/aws/FileList.vue
  apps/frontend/src/components/global/upload_tabs/aws/S3Reader.vue
  apps/frontend/src/components/global/upload_tabs/splunk/AuthStep.vue
  apps/frontend/src/components/global/upload_tabs/splunk/FileList.vue
  apps/frontend/src/components/global/upload_tabs/splunk/SplunkReader.vue
  apps/frontend/src/components/global/upload_tabs/tenable/AuthStep.vue
  apps/frontend/src/types/splunk-sdk/index.d.ts
  apps/frontend/src/utilities/helper_util.ts
  apps/frontend/src/views/Login.vue
  libs/hdf-converters/package.json
  libs/hdf-converters/src/converters-from-hdf/splunk/reverse-splunk-mapper.ts
  libs/hdf-converters/src/splunk-mapper.ts
  libs/hdf-converters/src/utils/splunk-tools.ts
  libs/hdf-converters/test/mappers/reverse/splunk_reverse_mapper.spec.ts
  libs/hdf-converters/types/splunk-config-types.ts
  libs/hdf-converters/types/splunk-control-types.ts
  libs/hdf-converters/types/splunk-profile-types.ts
  libs/hdf-converters/types/splunk-report-types.ts
  libs/hdf-converters/types/splunk-sdk/index.d.ts
  test/integration/splunk.spec.ts
  yarn.lock
Labels: heimdall-backend, ready-to-merge, hdf-converters

#4655 No rounding in compliance chart
  apps/frontend/src/components/cards/ComplianceChart.vue
  apps/frontend/src/store/status_counts.ts
Labels: ready-to-merge
